@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#navbar,
#navbar ul,
#navbar li,
#navbar a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
    
}


.slick-slider {
  width: 80%; /* Ajusta según tus necesidades */
  margin: 100px auto 0 auto;
}
.slick-slider {
  height: 70%; /* Para ocupar el 100% de la altura del contenedor principal (h-screen) */

}

.card-wrapper {
  height: 60%; /* Para ocupar el 100% de la altura del contenedor principal (h-screen) */
}

.slick-slider {
  height: 60%; /* Para ocupar el 100% de la altura del contenedor principal (h-screen) */

}


.slick-initialized{
  height: 60%; /* Para ocupar el 100% de la altura del contenedor principal (h-screen) */

}

.slick-dots{
  bottom: auto;
}